:root {
  --mobile-width: 375px;
}

/* Nav */
.nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--accent2-color);
  position: fixed;
  top: 0;
  width: var(--mobile-width);
  height: 100px;
  padding: 0 50%;
  z-index: 2;
}

.nav-name {
  text-decoration: none;
  color: var(--light-color);
  font-size: 1.5rem;
}

.links {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(4,1fr);
}

.links a {
  text-align: center;
  color: var(--primary-color);
  font-size: 12px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 0px;
}

/* About */
#about .about-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,auto);
  gap: 0;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: var(--mobile-width);
  margin: auto;
}

.about-body-txt {
  width: var(--mobile-width);
  padding: 1rem 0;
}

#about .about-container .heading {
  text-align: center;
  grid-column: 1;
  padding: 0 0;
}

/* Cards */
#projects .project-container {
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7,auto);
  gap: 0;
  width: var(--mobile-width);
}

#projects .project-container .heading {
  grid-row: 1;
  text-align: center;
}

#projects .project-container .lower {
  grid-row: 6;
  grid-column: 1;
  text-align: center;
}

#projects .project-container .git-btn {
  grid-row: 7;
  grid-column: 1;
  text-align: center;
}

#projects .project-container .description {
  display: grid;
  gap: .5rem;
}

#projects .project-container .description> a {
  width: fit-content;
}

.card1 {
  justify-self: center;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 600px;
  width: 100%;
  border-radius: 0;
  margin-bottom: 2rem;
}

.proj-1{
  text-align: center;
}

.card-links {
  margin-top: 2rem;
}

.card2 {
  justify-self: center;
  grid-row: 3;
  height: 350px;
  width: 100%;
  border-radius: 0;
  margin-bottom: 2rem;
}

.attr-sm {
  text-align: center;
}

.card2 .description .c2desc a {
  text-decoration: none;
}

.card2 .description .c2desc a:hover {
  text-decoration: none;
  color: var(--light2-color)
}

.card3 {
  justify-self: center;
  grid-row: 4;
  height: 350px;
  width: 100%;
  border-radius: 0;
  margin-bottom: 2rem;
}

.card4 {
  justify-self: center;
  grid-row: 5;
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 600px;
  width: 100%;
  border-radius: 0;
  margin-bottom: 2rem;
}

.git-link .git-header {
  grid-row: 6;
  grid-column: 1;
}

.git-btn {
  width: 120px;
  justify-self: center;
}

.proj-heading-txt {
  text-align: center;
}

/* Contact */
#contact {
  background: var(--accent2-color);
}

#contact .contact-container {
  gap: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: var(--mobile-width);
}

#contact .contact-container .heading{
  grid-row: 1;
  text-align: center;
  padding-bottom: 1rem;
}

#contact .contact-container .contact-box {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}

#contact .contact-container .email {
  grid-row: 2;
}

#contact .contact-container .linkedin {
  grid-row: 3;
}