@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* Variables */
:root {
  --primary-color: #333945;
  --secondary-color: #D1BEB0;
  --light-color: #efefef;
  --light2-color: #ececec;
  --dark-color: #555;
  --accent-color: #232832;
  --accent2-color: #c4ab9a;
  --max-width: 1000px;
}

/* Site */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family:'Open Sans', sans-serif;
  background-color: var(--light2-color);
  color: var(--primary-color)
}

img {
  width: 100%; /* Make images fill their container and no bigger */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  max-width: 300px;
}

/* Global Styles */
.text-primary {
  color: var(--primary-color);
}

.text-light {
  color: var(--light-color)
}

.text-secondary {
  color: var(--secondary-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-accent2 {
  color: var(--accent2-color);
}

.bg-primary {
  background: var(--primary-color);
}

.bg-secondary {
  background: var(--secondary-color);
}

.bg-accent {
  background: var(--accent-color);
}

.bg-accent2 {
  background: var(--accent2-color);
}

.bg-light {
  background: var(--light-color)
}

.text-body {
  font-weight: 200;
  padding: 20px 0;
}

.btn {
  text-decoration: none;
  background: var(--light-color);
  color: var(--dark-color);
  outline: var(--primary-color) 2px solid;
  padding: 4px;
  margin-right: 1rem;
  margin-top: 2rem;
}

.btn:hover {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-dark {
  text-decoration: none;
  background: var(--primary-color);
  color: var(--light-color);
  outline: var(--light-color) 2px solid;
  padding: 4px;
  margin-right: 1rem;
  margin-top: 2rem;
}

.btn-dark:hover {
  background: var(--light-color);
  color: var(--primary-color);
}

.btn-accent {
  text-decoration: none;
  background: var(--primary-color);
  color: var(--light-color);
  outline: var(--primary-color) 2px solid;
  padding: 4px;
  margin-right: 1rem;
}

.btn-accent:hover {
  background: var(--light-color);
  color: var(--primary-color);
}
.down-1 {
  padding-top: 20px;
  opacity: .9;
}

.down-2 {
  opacity: .8;
}

.down-3 {
  opacity: .6;
}

.down-4 {
  opacity: .4;
}

.down {
  font-size: 20px;
}

.heading {
  font-size: 1.5rem;
}

.heading::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80px; 
  padding-top: 2px; 
  border-bottom: 2px solid var(--primary-color); 
}

.attr {
  display: inline-block;
  color: var(--light-color);
  font-size: .55rem;
  text-transform: uppercase;
  padding: .4rem .6rem;
  border-radius: 15px;
  margin-bottom: .5rem;
  width: fit-content;
}

.attr:hover {
  opacity: .8;
}

.attr-dark {
  display: inline-block;
  color: var(--primary-color);
  font-size: .55rem;
  text-transform: uppercase;
  padding: .4rem .6rem;
  border-radius: 15px;
  margin-bottom: .5rem;
  width: fit-content;
}

.attr-dark:hover {
  opacity: .8;
}

.react { background: rgb(44, 122, 200); }
.nodejs { background: rgb(36, 194, 63); }
.express { background: rgb(71, 76, 81); }
.python { background: rgb(237, 196, 100);}
.mongodb {background: rgb(74, 119, 5);}
.angular {background: rgb(159, 27, 27);}
.flask {background: rgb(188, 101, 205);}
.rest {background: rgb(215, 120, 41);}
.matplotlib {background: rgb(239, 236, 77);}
.sql {background: #fd9af3;}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--accent2-color);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0 15%;
  z-index: 2;
}

.nav-name {
  text-decoration: none;
  color: var(--light-color);
  font-size: 1.5rem;
}

.links a {
  color: var(--primary-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius:25px;
}

.links a:hover {
  background: var(--dark-color);
  color: var(--secondary-color);
  transition: ease .3s;
}

.current {
  background: var(--accent-color);
  color: var(--accent2-color) !important;
  transition: ease .3s;
}

.blink-icon {
  animation: blinker 1s step-start infinite;
  font-size: 18px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Splash Page */
.splash {
  background-color: var(--accent2-color);
  height: 75vh;
  position: relative;
  color: #fff;
  width: 100%;
}

.splash .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.splash .content h1 {
  font-size: 60px;
  z-index: 1;
}

.splash::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* About */
#about {
  background: var(--light-color);
}

#about .about-container {
  display: grid;
  text-align: center;
  padding: 2rem 0;
  width: var(--max-width);
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#about .about-container .heading {
  /* padding-bottom: 2rem; */
}

.about-body {
  padding: 1rem 0;
}

.about-body-txt {
  width: 500px;
  padding: 1rem 0;
}

.about-skills {
  display: grid;
  color: var(--light2-color);
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
  border-radius: 5px;
}

.about-skills p {
  font-size: 12px;
}

.about-skills-heading {
  grid-column: 1 / span 3;
  padding: 0 0;
  align-self: center;
}

.abt-sub-head {
  padding-bottom: 1rem;
}

.abt-sub-head::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%; 
  padding-top: 2px; 
  border-bottom: 1px solid var(--primary-color); 
}

.skill-icon {
  padding: 6px 0;
}

/* Projects */
#projects {
  background: var(--light-color);
}

#projects .project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: var(--max-width);
  margin: auto;
}

#projects .project-container .heading {
  grid-column: 1/ span 3;
  text-align: center;
  padding-bottom: 1rem;
}

#projects .project-container .lower {
  grid-column: 1/ span 3;
  text-align: center;
  padding-top: 2rem;
}

#projects .project-container .git-btn {
  grid-column: 2;
  text-align: center;
}

#projects .project-container .description {
  display: grid;
  gap: .5rem;
}

#projects .project-container .description> a {
  width: fit-content;
}

/* Cards */
.card1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  grid-column: 1 / span 2;
  background: var(--light2-color);
  border-radius: 5px;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 350px;
}

.card1:hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.card-links {
  margin-top: 2rem;
}

.card2 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  background: var(--primary-color);
  border-radius: 5px;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 350px;
}

.card2 .description .c2desc a {
  text-decoration: none;
}

.card2 .description .c2desc a:hover {
  text-decoration: none;
  color: var(--light2-color)
}

.card2:hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.card3 {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  background: var(--primary-color);
  border-radius: 5px;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 350px;
}

.card3:hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.card4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  grid-column: 2 / span 2;
  background: var(--light2-color);
  border-radius: 5px;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 350px;
}

.card4:hover {
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.git-link .git-header {
  grid-column: 1/ span 3;
}

/* Contact */
#contact {
  background: var(--secondary-color);
}

#contact .contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: var(--max-width);
  margin: auto;
}

#contact .contact-container .heading{
  grid-column: 1/ span 2;
  text-align: center;
}

#contact .contact-container .contact-box {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

/* Footer */
.footer {
  padding: 2rem 2rem;
  text-align: center;
  box-shadow: 0 0 4px 0 rgba(35, 35, 35, .2);
}